@import "fonts.css";

.error {
  font-family: Inter;
  display: flex;
  height: 100vh;
  color: #1e1e1e;
  &__wrapper {
    margin: auto;
  }

  &__code {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 20px;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 70px;
    text-align: center;
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    text-decoration: none;
    color: #3369f3;
  }
}
